@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root{
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255,51,51,0.9);
    --primary-500: rgba(255,51,51,0.5);
    --primary-300: rgba(255,51,51,0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29,132,181,0.9);
    --secondary-500: rgba(29,132,181,0.5);
    --secondary-300: rgba(29,132,181,0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31,31,31,0.9);
    --dark-500: rgb(31,31,31,0.5);
    --dark-300: rgb(31,31,31,0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFFF;
    --light-font-solid: #FFFFFF;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 2em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacing */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-18: 1.8rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;

}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid)
}

ul, ol {
    list-style-type: none;
}

li {
    display: inline-block;
}

a {
    text-decoration:none;
    font-family: inherit;
    color: inherit
}

header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid)
}

p {
    font-size: var(--font-medium);
}

img {
    width: 100%;
}

h1 {
    font-size: var(--font-jumbo);
    font-weight: 700;
    font-family: var(--alternative-font);
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--alternative-font);
    font-weight: 300;
    box-sizing: border-box;
}

.flex-direction {
    display: flex;
}
.container {
    max-width:1200px;
    margin: 0 auto;
}
.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.paddings {
    padding: var(--spacing-12);
}

.paddings-titles {
    padding: 0 10px 10px 10px;
}

.text-center {
    text-align: center;
}
/* HEADER */

header {
    font-family: var(--alternative-font);
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.logo-header {
    max-width: 300px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar-link {
    font-size:var(--font-medium);
    text-transform: uppercase;
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition:  background .3s ease-in-out;
    position: relative;
}

.navbar-link:hover {
    background-color: var(--primary-900);
}

.show-menu:hover .submenu {
    display: block;
}

.submenu {
    width: 300px;
    display: none;
    position: absolute;
    background-color: var(--dark-bg-solid);
    padding: 0;
    margin: 0;
}

.submenu-item {
    display: flex;
    flex-direction: column;
}
.submenu-link {
    color: var(--light-font-solid);
    display: block;
    padding: 8px 16px 8px;
    font-size: medium;
}

.submenu-link:hover {
    background-color: var(--primary-900);
    transition:  background .3s ease-in-out;
}

/* TABLA */
table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-size: var(--font-medium);
    font-family: var(--base-font);
    width: 100%;
    text-align: left;
}

thead {
    color: var(--dark-solid);
    font-weight: 700;
}

th {
    color: var(--dark-solid);
    font-weight: 500;
    padding: var(--spacing-20) var(--spacing-20);    
}

td {
    padding: var(--spacing-20);
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover{
    background: var(--primary-900)
}

/* main */
main {
	margin-top: 2.5em;
}
.select {
    width: 180px;
    height: 28px;
    color: var(--dark-bg-solid);
}

.label-items {
    font-family: var(--base-font);
    font-family: var(--alternative-font);
    font-weight: 500;
}

.light-label {
    font-weight: 300;
}

textarea {
    width: 800px;
    height: 200px;
}

.name-product {
    width: 250px;
}

input::placeholder {
    color: var(--light-bg-solid);
}

.input-line {
    width: 100px;
    outline: none;
    border: 0;
    border-bottom: 1px solid var(--primary-solid);
}

.buttons {
    padding: 12px 0 12px 12px;
}

.button {
    width: 200px;
    height: 40px;
    margin-right: 20px;
    background-color: var(--primary-solid);
    border: 0;
    color: var(--light-bg-solid);
}
/* FOOTER */

.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.navbar-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.copyright {
    margin-top: var(--spacing-36);
    text-align: center;
}